.home {
  padding: 56px 0px 0;
  min-height: 100%;
  width: 100%;
}

.sortWrap {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.sort {
  display: inline-block;

  h4,
  > div {
    display: inline-block;
  }

  h4 {
    margin-right: 10px;
  }
}

.cardsWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 24px;
  width: 100%;
  margin-left: -14px;
}

.card {
  flex: 1;
  background: #f2f2f2;
  width: 330px;
  flex-basis: auto;
  flex: none;
  margin: 0 14px 28px;
}

.cardActions {
  background: white;
  padding: 0;
  position: relative;
}

.cardTitle {
  background: white;
  h5 {
    font-weight: 700 !important;
  }
}

.cardMedia {
  max-width: calc(100% - 28px);
  margin-left: 14px;
  margin-top: 14px;
  border: 8px solid white;
  border-bottom: none;
}

.cardDownload {
  position: absolute;
  right: 8px;
}

.cardsWrap {
}

.listItem {
  margin: 0;
  padding: 0;
}

.listItemContent {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  height: 70px;

  h3,
  h5 {
    display: inline-block;
    height: 18px;
    font-size: 18px;
    line-height: 1;
    flex-basis: auto;
    flex: 1;
    margin: 0;
  }
}

.listItemIcon {
  span {
    font-size: 22px !important;
    color: black;
  }
}
