@import "../../style/mixins";
@import "../../style/variables";

.home {
  @include main;
  min-height: 100%;
  width: 100%;
}

.projectsContainer {
  @include container;

  h1 {
    font-family: OratorStd;
    text-transform: uppercase;
  }
}

.sortWrap {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}

.sort {
  display: inline-block;

  h4,
  > div {
    display: inline-block;
  }

  h4 {
    margin-right: 10px;
    font-family: OratorStd;
    text-transform: uppercase;
  }

  input,
  ul,
  li {
    font-family: TradeGothicStd;
  }
}

.cardsWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 24px;
  width: 100%;
  margin-left: -14px;
}

.card {
  flex: 1;
  background: #f2f2f2;
  width: calc(25% - 28px);
  max-width: none;
  flex-basis: auto;
  flex: none;
  margin: 0 14px 28px;
  font-family: TradeGothicStd;
}

.cardActions {
  background: white;
  padding: 0;
  position: relative;
}

.cardTitle {
  background: white;

  h5 {
    min-height: 2.5em;
    font-weight: 700 !important;
  }
}

.cardMedia {
  background-position: center -1px;
  background-size: calc(100% + 2px) auto;
}

.cardDownload {
  position: absolute;
  right: 8px;
}

.cardsWrap {
}

.listItem {
  margin: 0;
  padding: 0;
}

.listItemProject {
  background: white;
  margin-bottom: 4px;
  transition: .25s;

  &:hover {
    background-color: $cj-blue;

    .listItemContent,
    .listItemIcon > span {
      color: white;
    }
  }
}

.listItemContent {
  transition: .25s;
  @include flex-list;

  h3,
  h5 {
    display: inline-block;
    height: 18px;
    font-size: 18px;
    line-height: 1;
    flex-basis: auto;
    flex: 1;
    margin: 0;
    font-family: TradeGothicStd;
  }
}

.listItemIcon {
  span {
    font-size: 22px !important;
    color: black;
  }
}

.listHeader {
  @include flex-list;
  button {
    font-family: OratorStd;
    text-transform: uppercase;
    padding-left: 0;
    width: 50.6%;
    text-align: left;

    span {
      color: $cj-pink;
      margin-left: 4px;
      font-size: 16px;
      position: relative;
      top: -1px;
    }
  }
  button,
  > span {
    display: inline-block;
    flex: 1;
    flex-basis: auto;
  }
  > span {
    height: 1;
    width: 72px;
  }
}

.listHeaderButton {
  text-transform: uppercase;
}
