@font-face {
    font-family: TradeGothicStd;
    src: url("../assets/fonts/2EF801_2_0.woff");
}

@font-face {
    font-family: TradeGothicStd;
    src: url("../assets/fonts/2EF801_4_0.woff");
    font-weight: bold;
}

@font-face {
    font-family: OratorStd;
    src: url("../assets/fonts/2EF801_1_0.woff");
}