.Footer {
    background-color: white;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 24px;

    svg {
        width: 40px;
        height: auto;
        fill: black;
        display: block;
        margin: 0 auto;
    }
}